<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="about">
    <div class="main1">
    <div class="header"> 
        <h1>Auto Insurance Claims</h1> 
    </div>
    
        <div class="nav1" style="margin-left: 250px;"> 
            <ul style="display: flex; "> 
                <li style="list-style: none;">
                    <a href="/home">Home</a>
                </li> <li style="list-style: none;"><a href="/about">About</a>
                </li> 
                <li style="list-style: none;">
                    <a href="#contact">Contact</a>
                </li> 
               
            </ul>
        </div>
        <div class="button"><button style="border-radius: 30px; height: 30px; width: 80px; font-weight: bold; background-color: rgb(241, 224, 181); margin-top: 9px; ">
            <a href="/index" style="text-decoration: none; list-style: none; color: black;">PREDICT</a></button>
        </div>
      
</div>
<div class="matter-main">
<div class="about-img">
    <img src="/static/fraud-prevention-man-using-digital-260nw-2251804911.jpg" alt="">
</div>
<div class="about-matter">
    <div class="one">
        <h4>Data Collection and Preprocessing</h4>
        <p> The first step involves collecting insurance data and preprocessing it to handle missing values, 
            Handling Categorical data and cutliers, and inconsistencies.</p>
    </div>
    <div class="one">
        <h4>Feature Engineering and Model Selection</h4>
        <p>The second step involves selecting relevant features and transforming them into a format suitable for building a machine learning model,
             as well as selecting an appropriate algorithm such as KNN, Naive Balyse, Decision Trees, Random Forest, or SVM.</p>
    </div>
    <div class="one">
        <h4>Model Training and Evaluation</h4>
        <p>The third step involves training the selected model using the preprocessed data and evaluating its performance using metrics such as accuracy,
             precision, recall, and F1-score.</p>
    </div>
    <div class="one">
        <h4>Model Deployment</h4>
        <p>The final step involves deploying the model in a real-world scenario to classify Fraud claims in real time,
             so that No Frauds can be happened in Insurance Claims.</p>
    </div>
</div>
</div>
















</div>
</body>
</html>