<!DOCTYPE html> 
<html> 
    <head>
         <title>Auto Insurance Claims</title>
          <link rel="stylesheet" href="/static/style.css">
         </head> 
         <body> 
 <div class="top">
    <div class="main1">
        <div class="header"> 
            <h1>Auto Insurance Claims</h1> 
        </div>
        
            <div class="nav1" style="margin-left: 250px;"> 
                <ul style="display: flex; "> 
                    <li style="list-style: none;">
                        <a href="/home">Home</a>
                    </li> <li style="list-style: none;"><a href="/about">About</a>
                    </li> 
                    <li style="list-style: none;">
                        <a href="#contact">Contact</a>
                    </li> 
                   
                </ul>
            </div>
            <div class="button"><button style="border-radius: 30px; height: 30px; width: 80px; font-weight: bold; background-color: rgb(241, 224, 181); margin-top: 9px; ">
                <a href="/index" style="text-decoration: none; list-style: none; color: black;">PREDICT</a></button>
            </div>
          
    </div>  
          
        </div>    
    
                    
</div>
                </body> 
                </html>